<div class="success-stories">
  <div class="success-block-content">
    <div class="success-text">
      <h1 style="line-height: 45px; text-align: center">
        <span
          style="
            font-weight: 900;
            font-family: Lato;
            font-size: 32px;
            color: rgb(45, 45, 45);
          "
          ><strong
            ><span style="font-style: normal">Success Stories</span></strong
          ></span
        >
      </h1>
    </div>
    <div class="success-div">
      <section class="center slider">
        <div>
          <img
            src="https://i.imgur.com/idwD8gu.png?text=1"
            class="img-slider"
          />
        </div>
        <div>
          <img
            src="https://i.imgur.com/jUz4hr9.png?text=2"
            class="img-slider"
          />
        </div>
        <div>
          <img
            src="https://i.imgur.com/a0Bdrsm.png?text=3"
            class="img-slider"
          />
        </div>
        <div>
          <img
            src="https://i.imgur.com/y7JPgJX.png?text=4"
            class="img-slider"
          />
        </div>
        <div>
          <img
            src="https://i.imgur.com/LrN2Nod.png?text=5"
            class="img-slider"
          />
        </div>
        <div>
          <img
            src="https://i.imgur.com/3cIDZ5z.png?text=5"
            class="img-slider"
          />
        </div>
      </section>
    </div>
  </div>
</div>
