<div class="exhaust-div" style="background-color: rgb(236, 231, 231);">
    <div class="exhaust-content">
        <div class="exhaust-block-content">
            <div class="exhaust-text-block col-sm-6">
                <p style="line-height: 32px;">
                    <span style="font-size: 44px; font-family: Lato; font-weight: 700; font-style: normal; color: rgb(45, 45, 45);">
                        We know you need funds,
                    </span>
                    <span style="font-size:44px; font-family: Lato; font-weight: 700; font-style: normal; color: rgb(45, 45, 45);">
                        we are here to help you
                    </span>
                    <span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);">
                        <br>
                        <br>
                    </span>
                    <span style="font-size:25px; font-family: Lato; font-weight: 100; font-style: normal; color: rgb(45, 45, 45);">
                        In just 5 minutes, you can start raising
                    </span>
                    <span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);">
                        <br>
                    </span>
                    <span style="font-size:25px; font-family: Lato; font-weight: 100; font-style: normal; color: rgb(45, 45, 45);">
                        funds online for Free on Milaap
                    </span>
                    <span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);">
                        <br>
                        <br>
                    </span>
                    <div class="fund-button">
                        <a href="" class="button fundraiser" role="button">Start a Fundraiser Now</a>
                        <p style="font-size: 22px; font-weight: 700; padding-left: 65px; font-family: Lato;">0% Platform Fees</p>
                    </div>
                </p>
            </div>
            <div class="exhaust-image col-sm-6">
                <div class="img-container">
                    <%= image_tag("firstblock.png", size: "500x320", :alt => "rss feed") %>
                </div>
            </div>
        </div>
    </div>
</div>
