<div style="background-color: rgb(236, 231, 231);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding-left:50px; padding-top: 180px;">
                    <span style="font-size:44px; font-family: Lato; font-weight: 700; font-style: normal; color: rgb(45, 45, 45);">We know you need funds,</span>
                    <span style="font-size:44px; font-family: Lato; font-weight: 700; font-style: normal; color: rgb(45, 45, 45);">we are here to help you</span>
                    <span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);">
                        <br>
                        <br>
                    </span>
                    <span style="font-size:25px; font-family: Lato; font-weight: 100; font-style: normal; color: rgb(45, 45, 45);">
                        In just 5 minutes, you can start raising
                    </span>
                    <span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);">
                        <br>
                    </span>
                    <span style="font-size:25px; font-family: Lato; font-weight: 100; font-style: normal; color: rgb(45, 45, 45);">
                        funds online for Free on Milaap
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <%= image_tag "firstblock.png", height: 450 , width: 600, style: 'float:right' %>
            </div>
            <div class="fund-button">
                <a href="" class="button fundraiser" role="button">Start a Fundraiser Now</a>
                <p style="font-size: 22px; font-weight: 700; padding-left: 42px; padding-bottom: 10px;">0% Platform Fees</p>
            <div>
        </div>    
    </div>
</div>
