<footer class="bg-light text-lg-start">
  <div class="footertext" style="background-color: rgba(0, 0, 0, 0.0);">
    @ Copyright 2021 Milaap
    <a class="privacylink" href="https://milaap.org/privacy-policy">Privacy Policy</a>
  </div>
</footer>