<div class="container p-5">
  <div class="row p-5">
      <div class="col-6">
          <img src = "/images/mobile.png" style="width:100%;">
      </div>
      <div class="col-6 mt-5">
          <h5 class="fw-bold">Milaap App-fundraising at your fingertips!</h5>
          <h6 class ="mt-4 mb-4">Effortlessly set up and manage your fundraiser,engage with donors and use various social media options to promote the fundraiser with our all-in-one mobile app</h6>
          <img src = "/images/button.png" style="width:31%;">
          <img src = "/images/button_2.png" style="width:30%;">
      </div>
  </div>
</div>