<div class="container-fluid p-5">
    <div class="row p-5">
        <div class="col-sm-5">
            <%= image_tag "mobile.png", height: 330 , width:400 ,style: 'margin-left: 100px; margin-top:30px;'%>
        </div>
        <div class="col-sm-6">
            <div class = "second-block">
            <p><span style="font-size: 21px; font-family: Lato;"><strong>Milaap App-fundraising at your fingertips!</strong></p>
            <h6 class ="mt-4 mb-4"><span style="font-size: 20px; font-family: Lato;">Effortlessly set up and manage your fundraiser,engage with donors and use various social media options to promote the fundraiser with our all-in-one mobile app</h6>
            <%= image_tag "play_store_btn.png", height: 64, width:110 , style: 'margin-top: 3px'%>
            <%= image_tag "app_store_btn.png", height:52, width:108%>
            </div>
        </div>
    </div>
        <hr>
    </div>
</div>

