<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <%= image_tag "milaap-logo.png", height: 40 %>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right" id="header">
                <li><span class="glyphicon glyphicon-phone"></span></li>
                <li><a href="https://milaap.org/?shortlink=2c7c3f63&c=unbounce%20-%20download%20app&pid=unbounce%20download%20app" class="button button4" role="button">Download our App</a></li>
            </ul>
        </div>
    </nav>
</div>
