<div class="row">
<div class="top-block">
<div class="block-content">
<div class="col-sm-4">
<p style="text-align: center; line-height: 32px;">
<span style="font-weight: 700; font-family: Lato; font-size: 18px; color: rgb(255, 255, 255); font-style: normal;" class="text1_dedicate">Dedicated Campaign Manager</span>
</p>
</div>
<div class="liner"><span class="divider"></span></div>
<div class="col-sm-4 textcols">
<p style="text-align: center; line-height: 32px;">
<span style="font-weight: 700; font-family: Lato; font-size: 18px; color: rgb(255, 255, 255); font-style: normal;">Free promotional tools</span></p>
</div>
<div class="liner"><span class="divider"></span></div>
<div class="col-sm-4 textcols">
<p style="text-align: center; line-height: 32px;">
<span style="font-weight: 700; font-family: Lato; font-size: 18px; color: rgb(255, 255, 255); font-style: normal;">Withdraw money at anytime</span></p>
</div>
</div>
</div>
<div class="exhaust-div">
<div class="exhaust-content"></div>
<div class="exhaust-block-content">
<div class="exhaust-image col-sm-4">
<div class="img-container">
<%= image_tag("fundsimg-secndblck.png", size: "344x220", :alt => "rss feed") %>
</div>
</div>
<div class="exhaust-text-block col-sm-8">
<p style="line-height: 32px;"><span style="font-size: 36px; font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);"><strong>Exhausted your funds?&nbsp;</strong></span><span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);"><br></span></p>
<div class="exhaust-list">
<ul class="ul-exhaust-points"><li style="line-height: 32px;"><span style="font-size: 20px; font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);">All your emergency savings exhausted?&nbsp;</span></li><li style="line-height: 32px;"><span style="font-size: 20px;"><span style="font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);">Reached out to all friends and relatives for funds?&nbsp;</span></span></li><li style="line-height: 32px;"><span style="font-size: 20px; font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);">Still Unable to raise funds to help your loved one?</span><span style="font-size: 18px; font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);"> <br></span></li></ul>
</div>
</div>

</div>
</div>
<div class="funds-desc">
<p style="line-height: 32px;"><span style="font-size: 20px; font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);"><span style="font-size: 18px; font-family: Lato; font-weight: 400; font-style: normal; color: rgb(45, 45, 45);">Start a FREE fundraiser on <strong>Milaap&nbsp;</strong>to raise money for you or your loved ones</span></span><span style="font-size: 18px; font-family: Raleway; font-weight: 400; font-style: normal; color: rgb(105, 26, 71);"><br></span></p>
</div>
<a class="start-fund-button" id="start-fund-button" href="" target="_self" data-params="true">
<span class="start-btn-label">Start a Fundraiser Now</span></a>
</div>
</div>