<div class ="sixth_block">
    <div class="container-fluid">
        <div class = "leader-heading">
            <p class="text-center"><span style="font-size: 35px; font-family: Lato; font-weight: 900; margin-top: 100px;">The leader in online Fundraising</p>
        </div>
        <div class="row-1">
            <div class = "col-sm-4">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato; font-weight: 900;"><i class="bi bi-globe2" style=" font-size: 3rem; color:  rgba(109,27,73,1); margin-right: 10px;"></i>Campaign Manager</h4>
                <p class = "leader-text"><span style="font-size: 18px; font-family: Lato;">A dedicated campaign manager to guide you in fundraising</p>       
            </div>
            <div class = "col-sm-4">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato; font-weight: 900;"><i class="bi bi-check-circle" style="  font-size: 3rem; color:  rgba(109,27,73,1); margin-right: 10px;"></i>Simple Setup</h4>
                <p class = "leader-text"><span style="font-size: 18px; font-family: Lato;">You can personalize and share your fundraiser in just a few minutes.</p>
            </div>

            <div class = "col-sm-4">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato; font-weight: 900;"><i class="bi bi-file-lock"style="  font-size: 3rem; color:  rgba(109,27,73,1); margin-right: 10px;"></i>Secure</h4>
                <p class = "leader-text"><span style="font-size: 18px; font-family: Lato;">Our Trust & Safety team works around the clock to protect against Fraud.</p>  
            </div> 
        </div>

        <div class="row-2">
            <div class = "col-sm-4">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato; font-weight: 900;"><i class= "bi bi-phone-fill"  style=" font-size: 3rem; color:  rgba(109,27,73,1); margin-right: 10px;"></i>Mobile App</h4>
                <p class = "leader-text"><span style="font-size: 18px; font-family: Lato;">Milaap app makes the process of crowdfunding a seamless journey</p>    
            </div>
            <div class = "col-sm-4">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato; font-weight: 900;"><i class="bi bi-reception-4" style=" font-size: 3rem; color:  rgba(109,27,73,1); margin-right: 10px;"></i>Social Reach</h4>
                <p class = "leader-text"><span style="font-size: 18px; font-family: Lato;">Harness the power of social media to spread your story and get more support.</p>    
            </div>
            <div class = "col-sm-4">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato; font-weight: 900;"><i class="bi bi-person-check-fill" style="  font-size: 3rem; color:  rgba(109,27,73,1); margin-right: 10px;"></i>Expert Advise</h4>
                <p class = "leader-text"><span style="font-size: 18px; font-family: Lato;">Our best-in-class Customer Happiness agents will answer your questions.</p>
            </div> 
        </div>
        
        <div class = "btn-new">
            <a href="#" class="button">Start a Fundraiser Now</a>
        </div>
        <h1 class="text-center"><span style="font-size: 30px; font-family: Lato; font-weight: 700;">Milaap is India's largest crowdfunding platform</h1>
        <div class="row-3">
            <div class = "col-sm-2">
                <h5 class ="fw-bold"><span style="font-size: 18px; font-family: Lato; font-weight: 700;">Rs.1930Crs+</h5>
                <h5><span style="font-size: 20px; font-family: Lato;">Raised</h5>
            </div>
            <div class = "col-sm-2">
                <h5 class ="fw-bold"><span style="font-size: 18px; font-family: Lato; font-weight: 700;">636,000+</h5>
                <h5><span style="font-size: 20px; font-family: Lato;">Fundraisers</h5>
            </div>
            <div class = "col-sm-2">
                <h5 class ="fw-bold"><span style="font-size: 18px; font-family: Lato; font-weight: 700;">79lakhs+</h5>
                <h5><span style="font-size: 20px; font-family: Lato;">Donations</h5>
            </div>
        </div>
        <div class = "text">
            <p>Asking for Money is hard, Milaap makes it easy</p>
        </div>
        <div class = "btn">
            <a href="#" class="button">Start a Fundraiser Now</a>
        </div>
        <div class = "btn-talk-to-us">
                <a href="#" class="button">Talk To Us</a>
        </div>
    </div>
</div>
