<div class="container-fluid p-5  bg-light">
    <p class="fs-1 fw-bold text-center">The leader in online Fundraising</p>
        <div class="row ms-5 mt-4 pt-5">
           <div class = "col">
                <h4 class =" fw-bold"><i class="bi bi-globe2 p-3" style=" font-size: 2rem; color: lightgreen;"></i>Campaign Manager</h4>
                <p class = "ms-5">A dedicated campaign manager to guide you in fundraising</p>       
          </div>
          <div class = "col">
              <h5 class =" fw-bold"><i class="bi bi-check-circle p-3" style="  font-size: 2rem; color: lightgreen;"></i>Simple Setup</h4>
              <p class = "ms-5">You can personalize and share your fundraiser in just a few minutes.</p>
          </div>
          <div class = "col">
              <h4 class =" fw-bold"><i class="bi bi-file-lock p-3"style="  font-size: 2rem; color: lightgreen;"></i>Secure</h4>
              <p class = "ms-5">Our Trust & Safety team works around the clock to protect against Fraud.</p>       
          </div>
      </div> 
      <div class="row ms-5 mt-4">
         <div class = "col">
              <h4 class =" fw-bold"><i class= "bi bi-phone-fill p-3"  style=" font-size: 2rem; color: lightgreen;"></i>Mobile App</h4>
              <p class = "ms-5">Milaap app makes the process of crowdfunding a seamless journey</p>    
          </div>
          <div class = "col">
              <h4 class =" fw-bold"><i class="bi bi-reception-4 p-3" style=" font-size: 2rem; color: lightgreen;"></i>Social Reach</h4>
              <p class = "ms-5">Harness the power of social media to spread your story and get more support.</p>    
          </div>
          <div class = "col">
              <h4 class =" fw-bold"><i class="bi bi-person-check-fill p-3" style="  font-size: 2rem; color: lightgreen;"></i>Expert Advise</h4>
              <p class = "ms-5">Our best-in-class Customer Happiness agents will answer your questions.</p>
          </div>
      </div> 
      <p class = "text-center mt-5"><a button type="button" class="btn btn-danger" href="/">Start a Fundraiser now</button></a></p>
      <h1 class="fw-bold mt-5 text-center">Milaap is India's largest crowdfunding platform</h1>
      <div class="row justify-content-center ms-5 pt-5">
          <div class = "col-3">
              <h4 class ="fw-bold">Rs. 1930  Crs +</h4>
              <p class = "">Raised</p>
          </div>
          <div class = "col-3">
              <h5 class =" fw-bold">636,000 +</h4>
              <p class = "">Fundraisers</p>
          </div>
          <div class = "col-3">
              <h4 class =" fw-bold">79 lakhs +</h4>
              <p class = "">Donations</p> 
          </div>
      </div> 
    <h1 class="mt-1 text-center">Asking for Money is hard, Milaap makes it easy</h1>
    <p class = "text-center mt-5"><a button type="button" class="btn btn-danger" href="/">Start a Fundraiser now</button></a></p>
    <p class = "text-center mt-1"><a button type="button" class="btn btn-danger" href="/">Talk to us</button></a></p>
</div>