<div class ="sixth_block">
    <div class="container-fluid p-5">
        <p class="fs-1 ms-5 fw-bold text-center"><span style="font-size: 35px; font-family: Lato;">The leader in online Fundraising</p>
            <div class="row ms-5 mt-4 pt-5">
            <div class = "col-sm">
                    <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato;"><i class="bi bi-globe2 p-3" style=" font-size: 2.5rem; color:  rgba(109,27,73,1);"></i>Campaign Manager</h4>
                    <p class = "ms-5"><span style="font-size: 18px; font-family: Lato;">A dedicated campaign manager to guide you in fundraising</p>       
            </div>
            <div class = "col-sm">
                <h5 class =" fw-bold"><span style="font-size: 20px; font-family: Lato;"><i class="bi bi-check-circle p-3" style="  font-size: 2.5rem; color:  rgba(109,27,73,1);"></i>Simple Setup</h4>
                <p class = "ms-5"><span style="font-size: 18px; font-family: Lato;">You can personalize and share your fundraiser in just a few minutes.</p>
            </div>
            <div class = "col-sm">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato;"><i class="bi bi-file-lock p-3"style="  font-size: 2.5rem; color:  rgba(109,27,73,1);"></i>Secure</h4>
                <p class = "ms-5"><span style="font-size: 18px; font-family: Lato;">Our Trust & Safety team works around the clock to protect against Fraud.</p>  
        </div> 
        </div>
        <div class="row ms-5 mt-4 mb-5">
            <div class = "col-sm">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato;"><i class= "bi bi-phone-fill p-3"  style=" font-size: 2.5rem; color:  rgba(109,27,73,1);"></i>Mobile App</h4>
                <p class = "ms-5"><span style="font-size: 18px; font-family: Lato;">Milaap app makes the process of crowdfunding a seamless journey</p>    
            </div>
            <div class = "col-sm">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato;"><i class="bi bi-reception-4 p-3" style=" font-size: 2.5rem; color:  rgba(109,27,73,1);"></i>Social Reach</h4>
                <p class = "ms-5"><span style="font-size: 18px; font-family: Lato;">Harness the power of social media to spread your story and get more support.</p>    
            </div>
            <div class = "col-sm">
                <h4 class =" fw-bold"><span style="font-size: 20px; font-family: Lato;"><i class="bi bi-person-check-fill p-3" style="  font-size: 2.5rem; color:  rgba(109,27,73,1);"></i>Expert Advise</h4>
                <p class = "ms-5"><span style="font-size: 18px; font-family: Lato;">Our best-in-class Customer Happiness agents will answer your questions.</p>
        </div> 
        
        <div class = "btn">
            <a href="#" class="button mt-3">Start a Fundraiser Now</a>
        </div>
        <h1 class="fw-bold mt-4 text-center"><span style="font-size: 29px; font-family: Lato;">Milaap is India's largest crowdfunding platform</h1>
        <div class="row justify-content-center ms-3 pt-5">
            <div class = "col-sm-2">
                <h5 class ="fw-bold"><span style="font-size: 18px; font-family: Lato;">Rs.1930Crs+</h5>
                <h5><span style="font-size: 18px; font-family: Lato;">Raised</h5>
            </div>
            <div class = "col-sm-2">
                <h5 class ="fw-bold"><span style="font-size: 18px; font-family: Lato;">636,000+</h5>
                <h5><span style="font-size: 18px; font-family: Lato;">Fundraisers</h5>
            </div>
            <div class = "col-sm-2">
                <h5 class ="fw-bold"><span style="font-size: 18px; font-family: Lato;">79lakhs+</h5>
                <h5><span style="font-size: 18px; font-family: Lato;">Donations</h5>
            </div> 
        <h1 class="mt-1 mb-3 text-center"><span style="font-size: 25px; font-family: Lato;">Asking for Money is hard, Milaap makes it easy</h1>
        <div class = "btn">
             <a href="#" class="button">Start a Fundraiser Now</a>
        </div>
        <div class = "mt-2">
           <div class = "btn-talk-to-us">
                <a href="#" class="button">Talk To Us</a>
           </div>
        </div>
    </div>
</div>
