<div class="container text-center">
 <h1> How to start a fundraising campaign on Milaap</h1>
<br>
<div id="main">
<div class="box">
 
 <div class="img">
 
 <img src="https://d9hhrg4mnvzow.cloudfront.net/start.milaap.org/249d865e-group-6_100000005m05l00g01f028.png" alt="" >
 
 </div>
 
 <div class="text">
 <span style="font-weight: 800; font-style: normal;"><strong>Setup a Free crowdfunding campaign</strong>
 </span>
 <br>
 <p>Fill in a few details about yourself, and who you are fundraising for.</p>
 </div>
 
</div>

<div class="box">
 
 <div class="img">
 
 <img src="https://d9hhrg4mnvzow.cloudfront.net/start.milaap.org/249d865e-group-6_100000005m05l00g01f028.png" alt="" >
 
 </div>
 
 <div class="text">
 <span style="font-weight: 800; font-style: normal;"><strong>Share the campaign</strong>
 </span>
 <br>
 <p>Share your campaign with friends, family via whatsapp, poster, FB share..Etc</p>
 </div>
 
</div>


<div class="box">
 
 <div class="img">
 
 <img src="https://d9hhrg4mnvzow.cloudfront.net/start.milaap.org/249d865e-group-6_100000005m05l00g01f028.png" alt="" >
 
 </div>
 
 <div class="text">
 <span style="font-weight: 800; font-style: normal;"><strong>Receive Donations</strong>
 </span>
 <p>Receive donations from friends, family and even strangers across the world.</p>

 </div>
</div>

<div class="box">
 
 <div class="img">
 
 <img src="https://d9hhrg4mnvzow.cloudfront.net/start.milaap.org/249d865e-group-6_100000005m05l00g01f028.png" alt="" >
 
 </div>
 
 <div class="text">
 <span style="font-weight: 800; font-style: normal;"><strong>Withdraw funds from the campaign</strong>
 </span>
 <p>Transfer funds to the hospital or to your bank account, whenever you need.</p>
 </div>
 
</div>

